body {
  width: 95vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box_central {
  background-color: grey;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.box_numb {
  width: 50px;
}

.areaResposta {
  display: flex;
}

#resposta {
  margin-left: 10px;
}
